<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Dados</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Duplicidade Rede API X EDI</h1>
    <div class="form-container">
        <div class="form-wrapper">
            <h2>Consulta de Duplicidade</h2>
            <form action="/consultarduplicidade" method="post">
                <div class="form-group">
                    <label for="data_inicial_duplicidade">Data Inicial:</label>
                    <input type="date" id="data_inicial_duplicidade" name="data_inicial">
                </div>
                <div class="form-group">
                    <label for="data_final_duplicidade">Data Final:</label>
                    <input type="date" id="data_final_duplicidade" name="data_final">
                </div>
                <div class="form-group">
                    <label for="chave_api_duplicidade">Chave API:</label>
                    <input type="text" id="chave_api_duplicidade" name="chave_api">
                </div>
                <button type="submit">Consultar</button>
            </form>
        </div>

        <div class="form-wrapper">
            <h2>Análise de Resultados</h2>
            <form action="/analisar" method="post">
                <div class="form-group">
                    <label for="data_inicial_analise">Data Inicial:</label>
                    <input type="date" id="data_inicial_analise" name="data_inicial">
                </div>
                <div class="form-group">
                    <label for="data_final_analise">Data Final:</label>
                    <input type="date" id="data_final_analise" name="data_final">
                </div>
                <div class="form-group">
                    <label for="chave_api_analise">Chave API:</label>
                    <input type="text" id="chave_api_analise" name="chave_api">
                </div>
                <button type="submit">Consultar</button>
            </form>
        </div>
    </div>

    <% if (resultados) { %>
        <h2>Registros API para exclusão</h2>
        <button onclick="exportTableToCSV('duplicidades.csv')">Exportar para CSV</button>
        <table id="resultadosTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>REFO</th>
                    <th>Data Pagamento</th>
                </tr>
            </thead>
            <tbody>
                <% resultados.forEach(resultado => { %>
                    <tr>
                        <td><%= resultado.id %></td>
                        <td><%= resultado.refo %></td>
                        <td><%= resultado.datapagto %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } %>

    <script>
        function downloadCSV(csv, filename) {
            const csvFile = new Blob([csv], { type: 'text/csv' });
            const downloadLink = document.createElement('a');
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = 'none';
            document.body.appendChild(downloadLink);
            downloadLink.click();
        }

        function exportTableToCSV(filename) {
            const csv = [];
            const rows = document.querySelectorAll('table tr');
            
            for (const row of rows) {
                const cols = row.querySelectorAll('td, th');
                const rowCsv = [];
                for (const col of cols) {
                    rowCsv.push(col.innerText);
                }
                csv.push(rowCsv.join(','));
            }

            downloadCSV(csv.join('\n'), filename);
        }
    </script>
</body>
</html>
